Package: rpi-mc-server-dbgsym
Source: rpi-mc-server
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Freddie Jemison <freddie@jemison.co.uk>
Installed-Size: 23
Depends: rpi-mc-server (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for rpi-mc-server
Build-Ids: 91551eaeecbaf013672b7a5b8a1e57450edd6b7e a65b95d5e21f9104acb4c96d1b7fb497284c2226
