Source: rpi-mc-server
Maintainer: Freddie Jemison <freddie@jemison.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0.0
Section: utils

Package: rpi-mc-server
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Minecraft server installer for rpi
 Installs the latest version of Minecraft server, and the JRE necessary to run it, on a stock raspberry pi with raspbian installed.
